<!DOCTYPE html>
<html>
<head>
	

	<link rel="stylesheet" href="../public/libs/mdbootstrap/css/bootstrap.min.css" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap -->
    <link href="../public/libs/mdbootstrap/css/mdb.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css" />
</head>
<body>
		{{{body}}}
		 <script type="text/javascript" src="../public/libs/mdbootstrap/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../public/libs/mdbootstrap/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../public/libs/mdbootstrap/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../public/libs/mdbootstrap/js/mdb.min.js"></script>
</body>
</html>