<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.css" />
	<script src="/public/libs/jquery/dist/jquery.js"></script>
	<script src="/public/libs/bootstrap/dist/js/bootstrap.js"></script>
	<title></title>
</head>
<body>
		{{{body}}}
</body>
</html>