<div class="container">
	<form action="/update?_method=put&id={{post._id}}" method="post">
		<input type="text" name="blogTitle" placeholder="Blog Title" value="{{post.title}}" />
		<br>
		<textarea rows="6" cols="25" name="postBody" placeholder="Blog Body">{{post.post}}</textarea>
		<br>
		<input type="submit" value="Edit Post" />
	</form>
</div>


{{!-- <div class="container">
	<form action="/update?_method=put&id={{post._id}}" method="post">
	<div class="row">
	    <!--First column-->

	    <div class="col-md-12">

	        <div class="md-form">
	            <textarea type="text" id="blog-title" class="md-textarea"></textarea>
	            <label for="blog-title">Blog Title</label>
	        </div>
	    </div>
	</div>
	    <!--/.Second row-->

	    <!--Third row-->
	    <div class="row">

	        <!--First column-->
	        <div class="col-md-4">
	            <div class="md-form">
	                <input type="text" id="blog-body" class="form-control">
	                <label for="blog-body" class="">Blog Body</label>
	            </div>
	        </div>
		</div>
	</div>
	</form>
</div> --}}